<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Owner Tools</title>
</head>
<body>
<h1>Add Inventory</h1>

<form method="post">
    <div>
        <label th:for="name">Name</label>
        <input th:field="${inventory.name}"/>
    </div>

    <div>
        <label th:for="description">Description</label>
        <input th:field="${inventory.description}"/>
    </div>

    <div>
        <label th:for="image_url">URL</label>
        <input th:field="${inventory.imageUrl}"/>
    </div>

    <div class="form-group">
        <label th:for="genre">Genre</label>
        <th:block th:each="genre : ${genres}">
            <input type="checkbox" name="genres" th:value="${genre.id}">
            <label th:text="${genre.name}"></label>
        </th:block>
        <a th:href="@{'/genres/add'}">Add Genres</a>
    </div>

    <div class="form-group">
        <label th:for="style">Styles</label>
        <th:block th:each="style : ${styles}">
            <input type="checkbox" name="styles" th:value="${style.id}">
            <label th:text="${style.name}"></label>
        </th:block>
        <a th:href="@{'/styles/add'}">Add Styles</a>
    </div>
    <input type="submit" value="Add Inventory" />
</form>
</body>
</html>