<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Deletion Page</title>
</head>
<form method="post">

    <th:block th:each="inventory : ${inventories}">
        <div>
            <label>
                <span th:text="${inventory.name}"></span>
                <input type="checkbox" name="inventoryIds" th:value="${inventory.id}" class="form-control">
            </label>
        </div>
    </th:block>
<!--    <th:block th:each="genre : ${genres}">-->
<!--        <div>-->
<!--            <label>-->
<!--                <span th:text="${genre.name}"></span>-->
<!--                <input type="checkbox" name="genreId" th:value="${genre.id}" class="form-control">-->
<!--            </label>-->
<!--        </div>-->
<!--    </th:block>-->
<!--    <th:block th:each="style : ${styles}">-->
<!--        <div>-->
<!--            <label>-->
<!--                <span th:text="${style.name}"></span>-->
<!--                <input type="checkbox" name="styleIds" th:value="${style.id}" class="form-control">-->
<!--            </label>-->
<!--        </div>-->
<!--    </th:block>-->
    <input type="submit" value="Delete">
</form>

</body>
</html>