<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>The Shop: Gallery</title>
</head>
<body>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Inventory by Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Genre</th>
        <th>Style</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/inventory(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li>
                <a>View All</a>
            </li>
        </td>
<!--        <td>-->
<!--            <li>-->
<!--                <a th:href="@{/admin/inventories(column=genre,value=${genre.name})}" th:text="${genre.name}">G-List</a>-->
<!--            </li>-->
<!--        </td>-->
        <td>
            <li th:each="style : ${styles}">
                <a th:href="@{/admin/inventories(column=style,value=${style.name})}" th:text="${style.name}">S-List</a>
            </li>
        </td>
    </tr>
</table>


</body>
</html>