<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Stylish</title>
</head>
<body>
<h1 th:text="${'Style: ' + style.name}">Default Title</h1>

<div class="inventory-listing">
    <p th:text="${'Name: ' + style.name}"></p>
    <p th:text="${'Description: ' + style.description}"></p>
    <p> Inventory:
    <ul>
        <li th:each="inventory : ${style.inventories}">
            <a th:href="@{'/view/' + ${inventory.id}}" th:text="${inventory.name}"></a>
        </li>
    </ul>
    </p>
</div>
</body>
</html>